
:root {
    /* Définition des couleurs de base */
    --teal-1: #265C4B; /* Teal foncé */
    --teal-2: #146551; /* Teal moyen foncé */
    --teal-3: #007566; /* Teal vif */
    --teal-4: #589A8D; /* Teal clair */
    --teal-5: #fff; /* Teal très clair */
    --Noir-6: #000000; /*Noir*/
    --Blanc-7: #ffffff; /*Blanc*/

    /* Utilisation des couleurs pour différents éléments */

    --color-title: var(--teal-1); /* Couleur pour les titres */
    --color-subtitle: var(--teal-3); /* Couleur pour les sous-titres */
    --color-paragraph: var(--teal-4); /* Couleur pour les paragraphes */
    --color-border: var(--teal-2); /* Couleur pour les bordures */
    --color-background: var(--teal-5); /* Couleur de fond général */
    --color-text: var(--Noir-6); /*Couleur pour le texte de fond*/
    --color-text: var(--Blanc-7); /*Couleur blanche pour les texte de fon d'une balise"*/
}

/*Intégration de nos polices d'écritures générales pour notre texte, titre et les sous-titres*/

:root {
    /* Polices */
    --font-title: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;
    --font-subtitle: 'Roboto', sans-serif;

    /* Taille de police standard et poids */
    --font-size-normal: 16px; /* Taille de police standard pour le texte */
    --font-size-title: 28px; /* Taille de police pour les grands titres */
    --font-size-subtitle: 20px; /* Taille de police pour les sous-titres */
    --font-weight-normal: 400; /* Poids normal de la police */
    --font-weight-bold: 700; /* Poids en gras */
}

/*Initialisation de notre body pour supprimer les marges et choix du type de police pour notre site*/
body {
    margin: 0;
    padding: 0;
    color: var(--color-paragraph);
    background-color: var(--color-background);
    font-family: var(--font-text);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-normal);
}
.titre_edu_exp{

    font-size: var(--font-size-title);
    font-family: var(--font-title);
    background-color: var(--color-title);
    width: 30%;
    text-indent: 60%;
    color: var(--Noir-6);
    
    }
    /*partie education*/
    .info_edu{
    font-size: var(--font-size-normal);
    font-family: var(--font-text);
    color: var(--Noir-6);
    background-color: var(--color-background);
    
    }
    /*l espace entre les deux bloc d'information*/
    .espace{
    
    margin-left: 50px;
    align-content: baseline;
    }
    /*creation de carree avant les ecriture*/
    #carre li{
    
    display: flex;
    position: relative;
    }
    
    #carre li::before{
    content:"■"; 
    font-size: 50px;
    color: var(--color-title);
    position: absolute;
    margin-left: -40px;
    }